.explore_window {
    position: absolute;
    height: 700px;
    width: 992px;
    // border: var(--border);
    resize: both;
    overflow: hidden;
    transition-duration: unset;
    backdrop-filter: blur(9px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @for $i from 1 through 15 {
        &:nth-child(#{$i}) {
          top: $i * 30 + 20px;
          left: $i * 30 + 20px;
        }
    }

    &.expand {
        height: 100% !important;
        width: 100% !important;
        resize: none;
        left: 0!important;
        top: 0!important;
    }
    &.hide{
        opacity: 0;
        visibility: hidden;
        transform: scale(0);
    }

    &::after {
        content: '';
        background-color: var(--brand_color3);
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 0;
        opacity: .7;
    }

    .action_bar {
        background-color: var(--brand_dark);
        display: grid;
        grid-template-columns: 1fr 300px 1fr;
        justify-content: space-between;
        padding: 5px;
        position: relative;
        z-index: 9;

        .navigation {
            ul {
                display: flex;
                width: 100%;

                li {
                    a {
                        display: flex;
                    }
                }
            }
        }

        .title {
            cursor: move;
            text-align: center;
        }

        .control {
            ul {
                display: flex;
                justify-content: flex-end;
                gap: 4px;

                li {
                    a {
                        span {
                            font-size: 10px;
                            height: 20px;
                            width: 20px;
                            border-radius: 50%;
                            text-align: center;
                            line-height: 20px;
                        }
                    }

                    &:nth-child(1) {
                        a {
                            span {
                                font-size: 12px;
                                background-color: rgba(15, 113, 170, 0.534);
                            }
                        }
                    }

                    &:nth-child(2) {
                        a {
                            span {
                                background-color: rgba(233, 201, 20, 0.534);
                            }
                        }
                    }

                    &:nth-child(3) {
                        a {
                            span {
                                font-size: 12px;
                                background-color: rgba(233, 70, 20, 0.534);
                            }
                        }
                    }
                }
            }
        }
    }

    .content_body {
        flex: 1;
        position: relative;
        z-index: 9;
        height: calc(100% - 70px);
        padding: 10px;
        border: 1px solid var(--brand_dark);
    }

    .footer {
        position: relative;
        z-index: 9;
        padding: 5px;
        border-top: 1px solid var(--brand_color2);

        .action_btns {
            ul {
                display: flex;
                gap: 5px;

                li {
                    a {
                        display: flex;
                        align-items: center;
                        gap: 4px;
                        padding: 4px 8px;
                        border-radius: 4px;
                        background-color: transparent;

                        &:hover {
                            background-color: var(--brand_color2);
                        }

                        span {
                            font-size: 18px;
                        }

                        .text {
                            text-transform: capitalize;
                            font-size: 13px;
                        }
                    }
                }
            }
        }
    }
}