.app_nav {
    width: calc(100vw - 60px);
    max-width: var(--container_width);
    margin: 0 auto;
    background-color: var(--brand_color);
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    margin-top: 5px;
    position: relative;

    $icon_block_size: 20px;
    
    .left,
    .active_window,
    .right{
        width: calc(100% / 3);
    }

    .left .navigation_list {
        justify-content: flex-start;
    }

    .active_window{
        ul{
            display: flex;
            gap: 10px;
            justify-content: center;
        }
    }

    .navigation_list {
        display: flex;
        gap: 10px;
        justify-content: flex-end;
        
        .icon_link_li {
            height: $icon_block_size;
            width: $icon_block_size;
        }
    }

    .navigation_link {
        // border: 1px solid red;
        color: var(--brand_white2);
        position: relative;

        &.active,
        &:hover {
            color: var(--brand_white);
        }

        .material-symbols-outlined {
            font-size: 20px;
            height: $icon_block_size;
            width: $icon_block_size;
        }
    }

    .nave_date_time {
        a {
            font-size: 14px;
            color: var(--brand_white2);

            .meridian {
                font-size: 11px;
            }
        }
    }

    .app_drawar_link_li {
        position: relative;

        &:hover {
            .apps_list_drawer {
                bottom: 30px;
                z-index: 1;
                opacity: 1;
                visibility: visible;
                z-index: 9;
            }
        }

        .apps_list_drawer {
            position: absolute;
            padding: 10px;
            bottom: 30px;
            left: 0;
            border-radius: 5px;
            min-height: 500px;
            width: 400px;
            backdrop-filter: blur(2.5px);
            opacity: 0;
            visibility: hidden;
            z-index: -9;

            &::before {
                content: '';
                background-color: var(--brand_color3);
                position: absolute;
                border-radius: 5px;
                height: 100%;
                width: 100%;
                top: 0;
                left: 0;
                z-index: 0;
                opacity: .9;
            }

            .content {
                position: relative;
                z-index: 1;
            }

            .top {
                display: flex;
                justify-content: space-between;

                .profile {
                    display: flex;
                    gap: 10px;
                    align-items: center;

                    .img {
                        height: 40px;
                        width: 40px;
                        border-radius: 50%;
                        overflow: hidden;

                        img {
                            width: 100%;
                        }
                    }

                    .profile_info {
                        h2 {
                            font-size: 14px;
                            margin-bottom: 4px;
                            text-transform: capitalize;
                        }

                        h3 {
                            font-size: 12px;
                        }
                    }
                }

                .action {
                    flex: 1;
                    display: flex;
                    justify-content: flex-end;

                    ul {
                        display: flex;
                        gap: 8px;
                        padding-top: 10px;

                        li {
                            a {
                                span {
                                    font-size: 20px;
                                }

                                &:hover {
                                    span {
                                        color: var(--brand_white2);
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .search {
                text-align: center;
                padding-top: 20px;

                input {
                    width: 70%;
                    background-color: var(--brand_white);
                    border: 0;
                    padding: 7px;
                    border-radius: 3px;
                    color: var(--brand_color);

                    &:focus {
                        outline: 0;
                    }
                }
            }

            .menu_list {
                height: 400px;
                overflow-y: auto;
                margin-top: 20px;

                .menu_apart {
                    padding: 10px 0px;

                    h4 {
                        color: var(--brand_white);
                        text-transform: capitalize;
                    }

                    ul {
                        padding-top: 20px;
                        display: grid;
                        gap: 10px;
                        grid-template-columns: repeat(4, 70px);

                        li {
                            padding: 10px 5px;
                            border-radius: 5px;

                            &:hover {
                                background-color: rgba(128, 128, 128, 0.411);

                                a {
                                    .text {
                                        text-overflow: unset;
                                        white-space: unset;
                                    }
                                }
                            }

                            a {
                                display: block;
                                text-align: center;
                                color: var(--color_white);

                                .icon {
                                    width: 30px;
                                    height: 30px;
                                    margin: 0 auto;
                                    border-radius: 5px;
                                    line-height: 40px;
                                    margin-bottom: 10px;

                                    span {
                                        font-size: 22px;
                                        color: var(--white);
                                    }
                                }

                                .text {
                                    font-size: 11px;
                                    line-height: 16px;
                                    white-space: nowrap;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}